{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "experimental": {
      "plugins": [
        [
          "@swc-jotai/debug-label",
          {}
        ],
        [
          "@swc-jotai/react-refresh",
          {}
        ]
      ]
    }
  }
}
